p {
  margin: 0;
  padding: 0;
}

.leftMenu ul {
  padding: 15px;
  background-color: #669900;
}

.girdContainer {
  padding-left: 10vw;
  padding-right: 10vw;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  background-color: #ffffff;
}

.hotelListHeader {
  margin-bottom: 25px;
  padding: 1.5vw;
  padding-right: 3vw;
}

.hotelListContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hotelItem {
  box-sizing: border-box;
  padding: 1.5vw;
  padding-right: 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.51fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "cardHeader cardHeader cardHeader cardHeader cardHeader"
    "hotelImg hotelImg details details details"
    "hotelImg hotelImg details details details";
}

.hotelItem:hover .hotelImg {
  width: 100%;
  height: 100%;
}
.hotelItem:hover {
  background-color: rgba(109, 109, 109, 0.167);
}

.hotelItem:hover .cardHeader div .headerTitleStar h1 {
  box-sizing: border-box;
  font-size: 2.4vw;
}

.hotelItem:hover .details .rightDetails ul li div p:first-of-type {
  font-size: 1.8vw;
}
.hotelItem:hover .cardHeader div .headerTitleStar p {
  font-size: 1.3vw;
}

.cardHeader h1:hover {
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.cardHeader {
  grid-area: cardHeader;
}
.hotelImg {
  grid-area: hotelImg;
}
.details {
  grid-area: details;
}

.headerTitleStar {
  display: flex;
}

.headerTitleStar h1 {
  font-size: 2.2vw;

  margin: 0;
  padding: 0;
}
.hotelImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotelImg img {
  width: 96%;
  height: 96%;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details div ul {
  text-decoration: none;
  list-style: none;
}

.leftDetails ul,
.rightDetails ul {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.headerTitleStar {
  display: flex;
  justify-content: space-between;
}

.leftDetails ul li img {
  width: 80%;
}
.leftDetails ul li img:hover {
  width: 85%;
  cursor: pointer;
}

.hotelImg:hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.headerTitleStar p {
  padding: 5px;
  border-radius: 5px;
  background-color: #669900;
  color: white;
  text-align: end;
  font-size: 1.2vw;
  white-space: nowrap;
}
.leadPrice:first-of-type {
  color: #ffcd1e;
  font-weight: 600;
  font-size: 1.5vw;
}

.leadPrice {
  margin: 0;
  padding: 0;
  font-size: 0.9vw;
  text-align: right;
}
.viewDealBtn {
  background-color: #ffcd1e;
  font-size: 0.9vw;
  box-shadow: none;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
}
.viewDealBtn:hover {
  background-color: #b68f04a9;
  cursor: pointer;
}

@media only screen and (max-width: 945px) {
  .girdContainer {
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 623px) {
  .girdContainer {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

ul {
  list-style-type: none;
}

.infoAndSort {
  display: flex;
  justify-content: space-between;
}
