.amenitiesList {
  list-style-type: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
}
.amenitiesList li {
  display: flex;
  align-items: center;
}

.map {
  width: 100%;
  height: 80%;

  justify-self: center;
  align-self: center;
}

.LoremDiv h1,
.amenitiesDiv h1 {
  font-family: "Roboto", sans-serif;
}
.amenitiesDiv p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}
.LoremDiv p {
  font-family: "Source Sans Pro", sans-serif;
}
.HotelDetailsSummary div {
  margin-bottom: 50px;
}
