html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #79a52f;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
}
