.nav {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-weight: 800;
  background-color: #5c8f10;
}
.hotelOption {
  margin: -1px;
  border-bottom: 2px solid orange;
}

.navOptionList {
  display: flex;
  gap: 15px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.navOptionList li:hover {
  margin: -1px;
  border-bottom: 2px solid orange;
  cursor: pointer;
}
