.nav {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-weight: 800;
  background-color: #5c8f10;
  padding-top: 15px;
  padding-bottom: 15px;
}
.hotelOption {
  margin: -1px;
  border-bottom: 2px solid orange;
}

.github {
  display: flex;
  gap: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.github:hover {
  margin: -1px;
  border-bottom: 2px solid orange;
  cursor: pointer;
}
.logo {
  font-weight: 900;
  font-size: 25px;
  font-family: "Merriweather", serif;
  cursor: pointer;
}
